*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cambria', 'sans-serif';
  box-sizing: border-box;
}
body {
  background: #eeeeee;
  color: #000000;
  padding-top: 30px;
  margin-top: 50px;
}
h1{
  font-size: 10vw;
}
header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

nav{
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eeeeee;
  position: relative;
  height: 70px;
}

nav ul{
  display: flex;
  gap: 30px;
  align-items: center;
}

nav ul li{
  list-style-type: none;
}

nav ul li a{
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  position: relative;
}

.menu-icon{
  display: none;
}

.menu-icon i{
  color: #000000;
  font-size: 30px;
}

.logo {
  width: 80px;
}
 
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a::after{
  content: ' ';
  width: 0;
  height: 3px;
  background: #A81686;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.7s;
}

nav ul li a:hover::after{
  width: 100%;
} 

/* Sections General Styles */
section{
  background-color: #f9f9f9;
  padding: 20px;
}
.section-header {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.section-header h1 {
  font-size: 2.5em;
  color: #A81686; 
  margin-bottom: 20px;
  text-align: center;
}


/* Paragraph Gneral Style */
p {
  line-height: 1.6;
  font-size: 1.2rem;
  color: #484646;
}

/* General Container Style */
.container {
  width: 80%;
  margin: auto;
  padding: 20px;
}

/* About Section Style */
.about .container{
  display: flex;
  align-content: space-between;
  align-items: center;
  width: 100%;
  padding: 80px;
}
.about p{
  font-size: 25px;
}
.text-container{
  flex: 1;
  padding: 30px 0 20px;
  text-align: justify;
}
.text-container h1{
  font-size: 2.5em;
  color: #A81686;
}
.text-container h2{
  font-size: 2em;
  padding: 20px 0;
  color: #A81686;
}

.image-container {
  flex: 1;
  /* flex-basis: 50%; */
  text-align: center;
}
.image-container img{
  width: 80%;
  height: auto;
  border-radius: 50%;
}

/* Education Section Style */
.education {
  /* background-color: #f4f4f4; */
  padding: 20px;
}

.education .container {
  max-width: 1200px;
  margin: auto;
}

.education-content {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-around;
  margin-top: 20px;
}

.education-item {
  background-color: #fff;
  padding: 25px; 
  margin: 50px; 
  border-radius: 10px;
  flex: 1;
  /* min-width: 300px;
  max-width: 400px; */
  box-shadow: 0 1px 10px rgba(27, 25, 25, 0.3);
  text-align: center; 
}

.education-item h2 {
  font-size: 20px; 
  color: #16A87A; 
  margin-bottom: 10px;
}

.education-item p {
  font-size: 1.1em; 
  color: #555; 
  line-height: 1.6; 
  margin: 5px 0; 
}

.education-item strong {
  color: #333; 
}

.education-item em {
  color: #777; 
}

.education-item h2 {
  text-align: left; 
  position: relative;
}

.education-item h2::after {
  content: '';
  display: block;
  width: 50px; 
  height: 3px; 
  background-color: #16A87A;
  margin-top: 5px;
  margin-left: 0;
  position: absolute;
  bottom: -10px;
}

/* Experience Styles */
.experience .container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 70%;
  margin: auto;
}
.experience-item {
  /* background-color: #fff; */
  padding: 15px;
  border-radius: 5px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  margin-bottom: 15px;
}

.experience-item h2 {
  font-size: 1.5em;
  color: #16A87A;
}

.experience-item em {
  font-style: italic;
  color: #555;
}

.experience-item ul {
  list-style-type: none; 
  margin-left: 25px;
}

.experience-item li {
  margin-bottom: 5px; 
  line-height: 1.6;
  font-size: 1.2em;
}

/* SKills & Language Styles */
.skills-languages .container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.section-header {
  margin-bottom: 20px;
}

.skills-list, .languages-list {
  list-style-type: none;
  padding: 10px; 
}

.skills-list li, .languages-list li {
  margin: 10px 0;
  font-size: 1.3em;
}

.level {
  font-weight: bold; 
  color: #16A87A;
}

/* Contact Section Styles */
.contacts {
  background-color: #333;
  color: white;
}

.contacts .container{
  display: flex;
  justify-content: space-between;
  align-items: left;
  flex-wrap: wrap;
}

.contacts .section-header h3 em{
  font-size: 1rem;
  margin: 0;
}

.contacts	.section-header span::after {
  content: '';
  display: block;
  width: 70px; 
  height: 4px; 
  background-color: #16A87A;
  margin-top: 2px;
  margin-left: 0;
  position: relative;
  bottom: -10px;
}
.contacts-item p {
  margin: 5px 0;
}

.contacts-item a {
  color: #16A87A;
  text-decoration: none;
  font-size: 20px;
  margin: 0 10px;
  transition: transform 0.3s;
}

.contacts-item a:hover {
  color: #fff;
  transform: .5s;
}

.contacts-item span {
  color: white;
  font-size: 24px;
}

/* Footer Styles */
.footer-content {
  text-align: center;
  padding: 5px;
  background-color: #333;
  position: relative;
  bottom: 0;
  width: 100%;
}

 /*Responsive styles*/
 @media (max-width: 992px ) {
  nav ul{
    position:absolute;
    top: 70px;
    left: 0;
    right: 0;
    flex-direction: column;
    text-align: center;
    background-color: #eeeeee;
    gap: 0;
    overflow: hidden;
  }
  
  nav ul li{
    padding: 20px;

  }
  .menu-icon{
    display: block;
  }
  #menuList{
    transition: all 0.6s;
  }

  /* about section */
  .about .container{
    display: flex;
    flex-direction: column-reverse;
    align-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
  }
  .about p{
    font-size: 20px;
  }
}
/* end of responsive 990 px */